@import "../../variables.scss";
//linear-gradient(315deg, #2876f9 0%, #0a1e7c 74%);
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/bg-4.png") no-repeat fixed center center;
  background-size: cover;
  color: white;
  button {
    font-family: $cta-font;
    font-weight: bold;
  }

  // .heroLogo {
  //   opacity: 0;
  // }
}

@media only screen and (min-width: 768px) {
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  }
}
