@import "../../variables.scss";
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../../images/bg-4.jpg") no-repeat fixed center center;
  background-size: cover;
  color: white;
}

@media only screen and (min-width: 768px) {
  .hero {
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 100%, 0 80%);
  }
}
