@import "../../../variables.scss";

.card {
  background: rgba(8, 2, 112, 1);
  p {
    font-family: $cta-font;
    // font-weight: bold;
  }
}
.custom-css-shadow {
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.002),
    0 12.3px 17.9px rgba(0, 0, 0, 0.072), 0 11.8px 33.4px rgba(0, 0, 0, 0.056),
    0 50px 80px rgba(0, 0, 0, 0.0012);
  border-radius: 10px;
}

.schedule_read-more_button {
  background-color: $color-white;
  font-family: $cta-font;
  font-weight: bold;
  color: $color-black;
}

@media only screen and (min-width: 200px) and(max-width: 1024px) {
  .custom-wrap {
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
