.fullbleed-container {
  height: 100vh;
}

.fullbleed {
  margin: 5rem;
  height: 90%;
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 768px) {
  .fullbleed-container {
    display: none;
  }
}
