@import "../../variables.scss";

.header {
  background-image: linear-gradient(315deg, #2876f9 0%, #11c9f8 74%);
  font-family: $cta-font;
  height: 10vh;
}

.nav-link {
  font-weight: bold;
  color: $color-white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  width: 50%;
}

@media screen and (max-width: 768px) {
  .hamburger {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 5%;
    cursor: pointer;
    background-color: $color-secondary-light;
    transform: translate(-5%, -50%);
    z-index: 200;
    transition: all 0.2s ease;
    &:hover {
      background-color: $color-secondary-dark;
    }
  }
  .barTop,
  .barMiddle,
  .barBot {
    width: 20px;
    height: 3px;
    margin: 2px;
    background-color: white;
  }
  .navbar {
    position: fixed;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    background: #000;
    z-index: 100;
    clip-path: circle(0 at 92% 5%);
    -webkit-clip-path: circle(0 at 92% 5%);
    transition: all 2s ease-out;
    pointer-events: none;
    background-image: linear-gradient(315deg, #2876f9 0%, #11c9f8 74%);
    font-size: 1.5rem;
  }
  .nav-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .nav-link {
    padding: 0.5rem;
    &:hover {
      background: #fff;
      color: black;
    }
  }
  .nav-link:nth-child(1) {
    transform: translateX(-500px);
    transition: all 0.5s;
    transition-delay: 0.1s;
  }

  .nav-link:nth-child(2) {
    transform: translateX(-500px);
    transition: all 0.5s;
    transition-delay: 0.2s;
  }

  .nav-link:nth-child(3) {
    transform: translateX(-500px);
    transition: all 0.5s;
    transition-delay: 0.3s;
  }

  .nav-link:nth-child(4) {
    transform: translateX(-500px);
    transition: all 0.5s;
    transition-delay: 0.4s;
  }

  .nav-link:nth-child(5) {
    transform: translateX(-500px);
    transition: all 0.5s;
    transition-delay: 0.5s;
  }

  .nav-link:nth-child(6) {
    transform: translateX(-500px);
    transition: all 0.5s;
    transition-delay: 0.6s;
  }

  .nav-link:nth-child(7) {
    transform: translateX(-500px);
    transition: all 0.5s;
    transition-delay: 0.7s;
  }

  .open {
    clip-path: circle(2000px at 92% 5%);
    -webkit-clip-path: circle(1000px at 90% -15%);
    pointer-events: all;
  }

  .slideIn {
    transform: translateX(0) !important;
  }
}
