@import "../../../variables.scss";

.bg-hero {
  // height: 90vh;
  background: url("../../../images/bg-6.jpg") no-repeat fixed center center;
  background-size: cover;

  img {
    height: 256px;
    width: 256px;
  }

  h1 {
    font-family: $cta-font;
  }

  button {
    font-family: $cta-font;
    background-color: $color-primary-dark;
    &:hover {
      background-color: $color-primary-light;
    }
  }
}
