@import "../../../variables.scss";

.bg-hero {
  background: url("https://jesmachi.sirv.com/bnmpcitc/backgrounds/bg-6.jpg")
    no-repeat fixed center center;
  background-size: cover;

  img {
    height: 256px;
    width: 256px;
  }

  h1 {
    font-family: $cta-font;
  }
}
.custom-hero-button {
  background-color: $color-secondary-light;
  font-family: $cta-font;
  font-weight: bold;
  color: black;
}
