// @import './pages/contact/contact.styles.scss';
// @import './pages/events/events.styles.scss';
// @import './pages/gallery/gallery.styles.scss';
// @import './pages/homepage/homepage.styles.scss';

// @import './components/about-section/about-section.styles.scss';
// @import './components/features/features.styles.scss';
// @import './components/footer/footer.styles.scss';
// @import './components/header/header.styles.scss';
// @import './components/hero/hero.styles.scss';
// @import './components/register/register.styles.scss';

// @import './components/schedule/schedule.styles.scss';
// @import './components/schedule/schedule-event/schedule-event.styles.scss';
// @import './components/schedule/tab/tab.styles.scss';
// @import './components/schedule/tabs/tabs.styles.scss';

//COLORS
$color-primary: #113299;
$color-primary-light: #12c7f5;
$color-primary-dark: #3182ce;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;

$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$cta-font: "Roboto Slab";
$default-font: "Jost";
